<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete producer</title>
</head>
<body>
<h1>Delete producer</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/producers">blog list</a>
</p>
<form th:action="@{/producers/delete}" th:object="${producer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>author:</td>
            <td th:text="${producer.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete producer"></td>
        </tr>
    </table>
</form>
</body>
</html>