<h1 [style.color]="color">
  This is a paragraph.
</h1>
<button (click)="colorP('red')" style="background: red">red</button>
<button (click)="colorP('green')" style="background: green">green</button>
<button (click)="colorP('yellow')" style="background: yellow">yellow</button>
<button (click)="colorP('magenta')" style="background: magenta">magenta</button>
<button (click)="colorP('blue')" style="background: blue">blue</button>
<button (click)="colorP('brown')" style="background: brown">brown</button>
<button (click)="colorP('tan')" style="background: tan">tan</button>
