<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a href="/">product</a>
</p>
    <table th:object="${product}">
        <tr>
            <td>img:</td>
            <td ><img th:src="${product.img}" width="200" height="400"/></td>
        </tr>
        <tr>
            <td>id:</td>
            <td th:text="${product.id}"></td>
        </tr>
        <tr>
            <td>name:</td>
            <td th:text="${product.name}"></td>
        </tr>
        <tr>
            <td>price:</td>
            <td th:text="${product.price}"></td>
        </tr>
        <tr>
            <td></td>
            <td><button><a th:href="@{/add/__${product.id}__(action='add')}">Add To Cart</a></button></td>
        </tr>
    </table>

</body>
</html>