# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C0221G1_HoangThiDieuThuy\modulu3\13.JDBC_Querying _Transaction\practice\Transaction\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
