<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img id="img-of-the-day">
<form action="/comments/create" method="post">
    <select name="mark">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

<p>Author :</p>
<input type="text" name="author">
<p>Feedback :</p>
<input type="text" name="feedback">
<button>comment</button>
</form>
<!--<form>-->
<!--<table>-->
<!--       <tr th:each="c : ${commentList}">-->
<!--           <td th:text="${c.}"></td>-->
<!--           <td th:text="${comment.author}"></td>-->
<!--           <td th:text="${comment.feedback}"></td>-->
<!--       </tr>-->
<!--</table>-->
<!--</form>-->
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=p9yUEW6AcBq4qo05zJHkHkfAg0qrRdAmXheCKjSG';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function() {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>

</body>
</html>