<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit customer</title>
</head>
<body>
<h1>edit customer</h1>
<p>
    <a href="/customers/">Back to list</a>
</p>
<form action="/customers/edit" th:object="${customerDto}" method="post">
    <table>
        <input th:type="hidden" name="id" th:field="*{id}">

            <input type="hidden" name="code" th:field="*{code}"/>

        <tr>
            <td>customerType:</td>
            <td><select th:field="*{customerType}" >
                <option th:each="customerType : ${customerTypes}" th:text="${customerType.name}" th:value="${customerType.id}"></option>
            </select>

            </td>
        </tr>
        <tr>
            <td>name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td>
        </tr>
        <tr>
            <td>birthday:</td>
            <td><input type="date" th:field="*{birthday}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><span style="color: red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span></td>
        </tr>
        <tr>
            <td>gender:</td>
            <td>
                <select th:field="*{gender}">
                    <option th:value="male" th:text="male"></option>
                    <option th:value="female" th:text="female"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>id Card:</td>
            <td><input type="text" th:field="*{idCard}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><span style="color: red" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></span></td>
        </tr>
        <tr>
            <td>phone:</td>
            <td><input type="text" th:field="*{phone}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><span style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span></td>
        </tr>
        <tr>
            <td>email:</td>
            <td><input type="email" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></td>
        </tr>
        <tr>
            <td>address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><span style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span></td>
        </tr>

        <td></td>
        <td><input type="submit" value="update customer"></td>
        </tr>
    </table>
</form>
</body>
</html>