<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<h1>edit user</h1>
<p>
    <a href="/users">user list</a>
</p>

<form th:action="@{/edit}" th:object="${user}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>first Name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
<!--            <span style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{'firstName'}"></span>-->
        </tr>
        <tr>
            <td>last Name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
<!--            <span style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{'lastName'}"></span>-->
        </tr>
        <tr>
            <td>age:</td>
            <td><input type="text" th:field="*{age}"/></td>
<!--            <span style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{'age'}"></span>-->
        </tr>
        <tr>
            <td>phone:</td>
            <td><input type="text" th:field="*{phone}"/></td>
<!--            <span style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{'phone'}"></span>-->
        </tr>
        <tr>
            <td>email:</td>
            <td><input type="text" th:field="*{email}"/></td>
<!--            <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{'email'}"></span>-->
        </tr>

        <td></td>
        <td><input type="submit" value="edit user"></td>
        </tr>
    </table>
</form>
</body>
</html>