<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a href="/products/">product list</a>
</p>

<form th:action="@{/products/view}" th:object="${product}" method="post">
    <table>
        <tr>
            <td>id:</td>
            <td th:text="${product.id}"></td>
        </tr>
        <tr>
            <td>name:</td>
            <td th:text="${product.name}"></td>
        </tr>
        <tr>
            <td>price:</td>
            <td th:text="${product.price}"></td>
        </tr>
        <tr>
            <td>description:</td>
            <td th:text="${product.description}"></td>
        </tr>
        <tr>
            <td>producer:</td>
            <td th:text="${product.producer.name}"></td>
        </tr>
    </table>
</form>
</body>
</html>