# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C0221G1_HoangThiDieuThuy\modulu3\11.MVC_Model\exercise\quan_ly_san_pham\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
