# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C0221G1_HoangThiDieuThuy\modulu3\12.JDBC_and_CRUD\exercise\quan_ly_user1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
