<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Create new Blog</a>
<h1>Blogs</h1>
<table border="1">
    <tr>
        <th>STT</th>
        <th>author</th>
        <th>content</th>
        <th>detail</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    <th:block th:each="blog,loop : ${blogs}">
        <tr>
            <td th:text="${loop.count}"></td>
            <td ><a a th:href="@{/view/__${blog.id}__ }" th:text="${blog.author}"></a></td>
            <td th:text="${blog.content}" ></td>
            <td><a th:href="@{/edit/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete/__${blog.id}__ }">Delete</a></td>
        </tr>
        </tr>
    </th:block>
</table>
</body>
</html>