<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a href="/customerUsers/">Back to list</a>
</p>
<form action="/customerUsers/delete" th:object="${contract}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>contract Start Date:</td>
            <td th:text="${contract.contractStartDate}"></td>
        </tr>
        <tr>
            <td>contract End Date:</td>
            <td th:text="${contract.contractEndDate}"></td>
        </tr>
        <tr>
            <td>deposit:</td>
            <td th:text="${contract.deposit}"></td>
        </tr>
        <tr>
            <td>total:</td>
            <td th:text="${contract.total}"></td>
        </tr>
        <tr>
            <td>employee:</td>
            <td th:text="${contract.employee.name}"></td>
        </tr>
        <tr>
            <td>customer:</td>
            <td th:text="${contract.customer.name}"></td>
        </tr>


        <tr>
            <td>service:</td>
            <td th:text="${contract.service.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete contract"></td>
        </tr>
    </table>
</form>
</body>
</html>