<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list customer user service</title>
</head>
<body>

<h1>List Customer user service</h1>
<th:block th:if="${msg}">
    <p th:text="${msg}"></p>
</th:block>
<form>
    Search:
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>
<br>
<table border="1">
    <tr>
        <th>STT</th>
        <th>contract</th>
        <th>customer</th>
        <th>contract_start_date</th>
        <th>contract_end_date</th>
        <th>service</th>
        <th>attach service</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    <th:block th:each="contract,loop : ${contracts}">
        <tr>
            <td th:text="${loop.count}"></td>
            <td th:text="${contract.id}"></td>
            <td th:text="${contract.customer.name}"></td>
            <td th:text="${contract.contractStartDate}"></td>
            <td th:text="${contract.contractEndDate}"></td>
            <td th:text="${contract.service.name}"></td>

            <td>
                <select >
                    <option th:each="contractDetail:${contract.getContractDetails()}"
                            th:if="${contractDetail.contract.id}"
                            th:text="${contractDetail.attachService.name}"></option>
                </select>
            </td>
            <td><a th:href="@{/customerUsers/edit/__${contract.id}__ }">Edit</a></td>
            <td><a th:href="@{/customerUsers/delete/__${contract.id}__ }">Delete</a></td>
        </tr>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/customerUsers'(page=${contracts.number - 1})}" th:if="${contracts.hasPrevious()}">Previous</a>
    <span th:text="${contracts.number + 1}"></span>/<span th:text="${contracts.totalPages}"></span>
    <a th:href="@{'/customerUsers'(page=${contracts.number + 1})}" th:if="${contracts.hasNext()}">Next</a>
    <br>
    <span th:each="pageNo:${#numbers.sequence(0,contracts.totalPages - 1)}">
            <a th:href="@{/contracts(page=${pageNo})}" th:text="${pageNo+1}"></a>
        </span>
</div>
</body>
</html>