<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{delete.customer}"></title>
</head>
<body>
<h1 th:text="#{delete.customer}"></h1>
<h2 th:text="#{delete}"></h2>
<p>
    <a href="/customers" th:text="#{list.customer}">Customer list</a>
</p>
<br>
<button><a href="?lang=en">English</a></button>
<button><a href="?lang=vi">Vietnamese</a></button>
<br>
<form th:action="@{/delete-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td th:text="#{customer.name}"></td>
            <td th:text="${customer.name}"></td>
        </tr>
        <tr>
            <td th:text="#{customer.province}"></td>
            <td th:text="${customer.province.provinceName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{delete.customer}"></td>
        </tr>
    </table>
</form>
</body>
</html>