<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{edit.customer}"></title>
</head>
<body>
<h1 th:text="#{edit.customer}"></h1>
<p>
    <a href="/customers" th:text="#{list.customer}"></a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<br>
<button><a href="?lang=en">English</a></button>
<button><a href="?lang=vi">Vietnamese</a></button>
<br>
<form th:action="@{/edit-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td th:text="#{customer.name}"></td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td th:text="#{customer.province}">:</td>
            <td>
                <select th:field="*{province}">
                    <option th:each="provinceObj : ${provinces}"
                            th:value="${provinceObj.provinceId}"
                            th:text="${provinceObj.provinceName}">
                    </option>
                </select></td>
        </tr>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{update.customer}"></td>
        </tr>
    </table>
</form>
</body>
</html>